# Make the BluCast virtual camera accessible to the logged-in user (no chmod 666).
# Installed to /usr/lib/udev/rules.d/83-blucast-vcam.rules
SUBSYSTEM=="video4linux", ATTR{name}=="BluCast Virtual Camera", MODE="0660", TAG+="uaccess"
